<a href="https://colab.research.google.com/github/20104042NguyenThiTraMi/study-AI/blob/main/tuan_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#tuan 1
from openpyxl import Workbook
wb=Workbook()
sheet=wb.active
sheet['A1']='Nguyen Van A'
sheet['B1']='20104001'
sheet['A2']='Le Thi B'
sheet['B2']='20104002'
wb.save('test.xlsx')

In [ ]:
#tuan 1
import openpyxl
wb=openpyxl.load_workbook('test.xlsx')
sheet=wb.active
t1=sheet['A1']
t2=sheet['B1']
t3=sheet.cell(row=2,column=1)
t4=sheet.cell(row=2,column=2)
print(t1.value,t2.value)
print(t3.value,t4.value)

Nguyen Van A 20104001
Le Thi B 20104002

In [ ]:
#tuan 1
import openpyxl
my_wb=openpyxl.Workbook()
my_sheet=my_wb.active
my_wb.create_sheet(index=1,title='CDT')
my_wb.save('book.xlsx')

In [ ]:
import openpyxl
my_path='/content/book.xlsx'
my_wb_obj=openpyxl.load_workbook(my_path)
my_sheet_obj=my_wb_obj.active
print(my_sheet_obj.max_row)
my_cell_obj=my_sheet_obj.cell(row=1,column=1)
print(my_cell_obj.value)

1
None

In [ ]:
#tuan 1
with open ('text.txt',mode='w')as accounts:
  accounts.write('1 Nguyen Van A 8.0\n')
  accounts.write('2 Le Thi B 6.8\n')

In [ ]:
#tuan 1
with open ('text.txt',mode='w')as accounts:
  print('7:00 Nguyen Van A',file=accounts)
  print('7:01 Le Thi B', file=accounts)

In [ ]:
#tuan 1
with open ('text.txt',mode='r') as accounts:
     print(f'{'name':<20}{'score':>20}')
     for record in accounts:
         name,score=record.splt()
         print(f'{name:20}{score:20}')

SyntaxError: ignored

In [ ]:
#tuan 1
import pandas as pd
url='//content/test.csv'
dataframe=pd.read_csv(url)
dataframe.head(10)

   STT      MSSV             HO VA TEN  DIEM
0    1  20104042     Nguyen Thi Tra Mi    10
1    2  20104047      Tran Thi My Ngoc    10
2    3  20104048  Nguyen Thi Hong Ngoc    10
3    4  20104043       Nguyen Hoang Ha    10
4    5  20104050      Nguyen Van Hoang    10
5    6  20104010         Nguyen Thi An    10
6    7  20104056             Tran Manh    10
7    8  20104059                Tran A    10
8    9  20104023          Tran My Dung    10
9   10  20104088              Tran Yen    10

In [ ]:
#tuan 1
import pandas as pd
dataframe = pd.DataFrame()
dataframe['Name']=['An An','An Nhien']
dataframe['student IP']=[20101111.20105566]
dataframe['score']=[8.0,9.0]
dataframe

In [ ]:
import pandas as pd
url = '/content/AI.csv'
dataframe = pd.read_csv(url)
dataframe['CKM'].unique()
dataframe['CKM'].value_counts()
print('Score min:', dataframe['Full name'].min())
print('Score max:', dataframe['Score'].max())
print('Score mean:', dataframe['Score'].mean())
print('Score sum:', dataframe['Score'].sum())
print('Score mean:', dataframe['Score'].count())

FileNotFoundError: ignored

In [ ]:
import pandas as pd
url='/content/AI.csv'
dataframe = pd.read_csv(url)
dataframe.drop(['Khoa','DIEM'], axis=1).head(5)

   STT      MSSV             HO VA TEN
0    1  20104042     Nguyen Thi Tra Mi
1    2  20104047      Tran Thi My Ngoc
2    3  20104048  Nguyen Thi Hong Ngoc
3    4  20104043       Nguyen Hoang Ha
4    5  20104050      Nguyen Van Hoang

In [ ]:
import pandas as pd
url = '/content/AI.csv'
dataframe = pd.read_csv(url)
dataframe.groupby('HO VA TEN').count()

                      STT  MSSV  DIEM  Khoa
HO VA TEN
An An                   2     2     2     2
An Nhien                1     1     1     1
An Thinh                1     1     1     1
An Tue                  1     1     1     1
Le An                   1     1     1     1
Mai Tue                 1     1     1     1
Nguyen Hoang Ha         1     1     1     1
Nguyen Thi An           1     1     1     1
Nguyen Thi Hong Ngoc    1     1     1     1
Nguyen Thi Tra Mi       1     1     1     1
Nguyen Van Hoang        1     1     1     1
Nhi Nhi                 1     1     1     1
Tran A                  1     1     1     1
Tran An                 1     1     1     1
Tran Manh               1     1     1     1
Tran My Dung            1     1     1     1
Tran Thi My Ngoc        1     1     1     1
Tran Yen                1     1     1     1

In [ ]:
#tuan 1
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
dataframe = pd.read_csv(url)

dataframe['NOC'].value_counts()

NOR    280
USA    216
URS    194
AUT    185
GER    158
FIN    151
CAN    119
SUI    118
SWE    118
GDR    110
ITA    101
FRA     83
NED     78
RUS     76
FRG     41
CHN     33
JPN     32
KOR     31
TCH     25
EUN     23
GBR     21
EUA     19
CZE     10
LIE      9
POL      8
CRO      7
BUL      6
EST      6
AUS      6
BLR      6
HUN      6
UKR      5
BEL      5
KAZ      5
YUG      4
SLO      4
ESP      2
PRK      2
LUX      2
LAT      1
ROU      1
DEN      1
UZB      1
NZL      1
SVK      1
Name: NOC, dtype: int64

In [ ]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data['NOC'].unique()
data[(data['NOC']=='USA')&(data['Medal']=='Gold')].head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
47,1924,Chamonix,Skating,Speed skating,USA,500m,M,Gold
84,1928,St. Moritz,Bobsleigh,Bobsleigh,USA,five-man,M,Gold
86,1928,St. Moritz,Bobsleigh,Skeleton,USA,individual,M,Gold
120,1932,Lake Placid,Bobsleigh,Bobsleigh,USA,four-man,M,Gold
123,1932,Lake Placid,Bobsleigh,Bobsleigh,USA,two-man,M,Gold

In [ ]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data['NOC'].unique()
data[(data['NOC']=='USA')&(data['Medal']=='Gold')].head()
data[(data['Medal']=='Gold')|(data['Medal']=='Sliver')|(data['Medal']=='Bronze')].count()

Year            1538
City            1538
Sport           1538
Discipline      1538
NOC             1538
Event           1538
Event gender    1538
Medal           1538
dtype: int64

In [ ]:
#tuan 1
import pandas as pd
url='/content/test (1).csv'
dataframe =pd.read_csv(url)
dataframe=dataframe.set_index(dataframe['HO VA TEN'])
dataframe.loc['An An  ']
#dataframe[dataframe['Faculty'=='CKM'].head(5)

In [ ]:
#tuan 1
import pandas as pd
url='/AI.csv'
dataframe = pd.read_csv(url)
dataframe= dataframe.set_index(dataframe['Khoa'])
dataframe[dataframe['Khoa'] == 'CKM'].head(20)

      STT      MSSV             HO VA TEN  DIEM Khoa
Khoa
CKM     1  20104042     Nguyen Thi Tra Mi    10  CKM
CKM     2  20104047      Tran Thi My Ngoc    10  CKM
CKM     3  20104048  Nguyen Thi Hong Ngoc    10  CKM
CKM     4  20104043       Nguyen Hoang Ha    10  CKM
CKM     5  20104050      Nguyen Van Hoang    10  CKM
CKM     6  20104010         Nguyen Thi An    10  CKM
CKM     7  20104056             Tran Manh    10  CKM
CKM     8  20104059                Tran A    10  CKM
CKM     9  20104023          Tran My Dung    10  CKM
CKM    10  20104088              Tran Yen    10  CKM
CKM    11  20104055                 Le An    10  CKM
CKM    12  20103456               Tran An    10  CKM
CKM    13  20104079                 An An    10  CKM
CKM    14  20104059                 An An    10  CKM
CKM    16  20101111               Nhi Nhi    10  CKM
CKM    17  20105566              An Nhien    10  CKM
CKM    18  12345678               Mai Tue    10  CKM
CKM    19  20105577                An Tue    10  CKM
CKM    20   1234789              An Thinh    10  CKM

In [ ]:
#tuan 1
import pandas as pd
url ='/AI.csv'
dataframe = pd.read_csv(url)
dataframe.groupby('Khoa').mean()
dataframe.groupby('Khoa').count()

      STT  MSSV  HO VA TEN  DIEM
Khoa
CKM    19    19         19    19

In [ ]:
#tuan 1
import pandas as pd
url='/AI.csv'
dataframe = pd.read_csv(url)
dataframe= dataframe.set_index(dataframe['Khoa'])
dataframe['Khoa'].value_counts()

CKM    19
Name: Khoa, dtype: int64

In [ ]:
#tuan 1
import pandas as pd
url='/AI.csv'
dataframe = pd.read_csv(url)
dataframe.drop(['Khoa','DIEM'], axis=1).head(5)

   STT      MSSV             HO VA TEN
0    1  20104042     Nguyen Thi Tra Mi
1    2  20104047      Tran Thi My Ngoc
2    3  20104048  Nguyen Thi Hong Ngoc
3    4  20104043       Nguyen Hoang Ha
4    5  20104050      Nguyen Van Hoang

In [ ]:
#tuan 1
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data['NOC'].unique()
data[(data['NOC']=='USA')&(data['Medal']=='Gold')].head()
data[(data['Medal']=='Gold')|(data['Medal']=='Sliver')|(data['Medal']=='Bronze')].count()

Year            1538
City            1538
Sport           1538
Discipline      1538
NOC             1538
Event           1538
Event gender    1538
Medal           1538
dtype: int64

In [ ]:
#tuan 1
import pandas as pd
url='/AI.csv'
dataframe = pd.read_csv(url)
dataframe= dataframe.set_index(dataframe['Khoa'])
dataframe['Khoa'].value_counts()

CKM    19
Name: Khoa, dtype: int64

In [ ]:
import pandas as pd
url='/AI.csv'
dataframe = pd.read_csv(url)
tafradame= dataframe.set_index(dataframe['Khoa'])
dataframe['Khoa'].value_counts()

CKM    19
Name: Khoa, dtype: int64